name: Publish

on:
  push:
    branches:
    - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v1
    - name: use Node.js 10.x
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node }}
    - name: npm install, compile, lint
      run: |
        npm install
        npm run compile
        npm run lint
    - name: test
      run: |
        export DISPLAY=':99.0'
        /usr/bin/Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
        npm test
    - name: publish
      run: |
        git config --global user.email "rus.nasonov@gmail.com"
        git config --global user.name "Ruslan Nasonov"
        git config --global --add "http.extraheader" "Authorization: token ${{ secrets.GITHUB_TOKEN }}"
        ./node_modules/vsce/out/vsce publish -p ${{ secrets.VSCE_TOKEN }} minor
        git add -A
        git push --tags



      
